<!DOCTYPE html> 
<html> 
<head> 
    <!-- Link to your CSS file --> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 
    
    <title>█░█░█ █▀▀ █░░ █▀▀ █▀█ █▀▄▀█ █▀▀   ▀█▀ █▀█   ▀█▀ █░█ █▀▀   █▀ █▀▀ █▄░█ ▀█▀ █▀▀ █▄░█ █▀▀ █▀▀   █▀▀ ▄▀█ █▀▄▀█ █▀▀
           ▀▄▀▄▀ ██▄ █▄▄ █▄▄ █▄█ █░▀░█ ██▄   ░█░ █▄█   ░█░ █▀█ ██▄   ▄█ ██▄ █░▀█ ░█░ ██▄ █░▀█ █▄▄ ██▄   █▄█ █▀█ █░▀░█ ██▄</title> 
</head> 
<body> 
    <!-- Your HTML content --> 
    <h1>Welcome to my Flask App</h1> 
    <p>This is a sample HTML content.</p>
</body> 
</html> 